.header {
    background: white;
    box-shadow: 7px 7px 22px lightgray;
    padding: 1em 0em;
    display: flex;
    align-items: center;
    height: 3vh;
    color: whitesmoke;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  
